.showcase {
  &__button {
    width: 180px;
  }

  // Hack to prevent the navbar cutting off the main logo
  &__splash::before {
    display: block;
    content: "";
    height: 60px;
  }

  &__logo {
    font-size: 144px; // I need to ensure the logo is kept at a consistent size
  }
}

.logo {
  color: rgb(140, 249, 56); // I love this colour
}

.features {
  &__terminal {
    font-size: 9pt;
    width: 55rem;
  }
}

// Make the colour of the content in code elems consistent throughout the API section
.api {
  &__block-code {
    color: rgb(13, 202, 240);
  }
}
